* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.block {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.wrapForButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}